<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/start-menu.css') }}">
</head>

<h1>Валюта и деньги – Валюта бывает иностранной и российской. Российская валюта – это рубль, который является единственным законным платежным средством, обязательным к приему по нарицательной стоимости на всей территории России. К иностранной валюте относятся денежные знаки в виде банкнот, казначейских билетов, а также монеты, находящиеся в обращении и являющиеся законным средством наличного платежа на территории соответствующего иностранного государства. Следует отметить, что валюта бывает не только наличной, но и безналичной, то есть существующей не в виде банкнот или монет, а в виде записей на банковских счетах.

Валюта может быть конвертируемой и неконвертируемой. Конвертируемой является валюта, которую можно обменять на другую без специального разрешения каких-либо государственных органов. Так, свободно конвертируются доллар США, японская иена, евро и некоторые другие – к ним относится и российский рубль.

Но для того, чтобы обменять одну валюту на другую, нужно знать ее курс, другими словами – цену. Валютный курс – это цена денежной единицы страны, выраженная в денежной единице другой страны. Иными словами, валюта является таким же товаром, как и любой другой, а купить ее можно по установленной цене. Рубли можно купить за доллары США, евро, юани, равно как и наоборот. И для каждой валюты, используемой в качестве средства платежа за другую валюту, установлен определенный валютный курс.</h1>
</head>
<body>

</body>
</html>