<!DOCTYPE html>
<html lang="en">
<head>
    <script>
        function redirectToOtherSite() {
          window.location.href = "/exchange_rate_start";
        }
    </script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/start-menu.css') }}">
</head>
    <h1>Курс валют</h1>
    <p>Курс валют это - Валю́тный курс — цена (котировка) денежной единицы одной страны, выраженная в денежной единице другой страны[1].

Валютный курс может определяться либо в результате взаимодействия рыночных сил, либо законодательно. В первом случае курс зависит от спроса на валюту и ее предложения на валютном рынке, во втором случае курс устанавливается государством.

Механизм формирования курса тесно связан с конвертируемостью валюты, то есть с ее способностью свободно обмениваться на другие валюты. Конвертируемость зависит от ограничений, накладываемых государством на валютные операции. Различают конвертируемость по текущему счёту и конвертируемость по счёту движения капитала. Первый вид конвертируемости необходим для свободного осуществления торговых операций (экспорт и импорт), а второй — для свободного движения капитала между странами. Если валюта конвертируется по обоим счетам, то она называется свободно конвертируемой. В этом случае ограничения отсутствуют совсем или минимальны. Как правило, ограничение конвертируемости по счету движения капитала снижает волатильность валютного курса, даже при сохранении конвертируемости по текущему счету.

Государство может законодательно закрепить валютный курс. Так происходит в плановой экономике и при валютном управлении. Кроме того, валютный курс может фиксироваться международными соглашениями (Бреттон-Вудская валютная система). Возможны множественные курсы, когда государство устанавливает свой курс для разных видов операций. Например, курс может отличаться для потребителей и для фирм, участвующих в международной торговле. Система множественных курсов применялась в СССР.

Если валютный курс формируется на рынке, то государство может влиять на него через осуществление валютных интервенций. Обычно интервенции осуществляет центральный банк, который выступает либо на стороне спроса, либо на стороне предложения. Покупка валюты оказывает повышающее воздействие на курс, а продажа понижающее. Валютные интервенции помогают поддерживать курс на желаемом для государства уровне, не прибегая к прямому административному регулированию. В этом случае центральный банк выступает просто как один из экономических агентов, осуществляющих операции с валютой, однако за счет значительного объема операций он может влиять на рынок. Проведение валютных интервенций возможно, благодаря наличию у центрального банка валютных резервов.


В рыночной экономике не существует единого валютного курса. Каждый участник рынка решает самостоятельно, по какой цене покупать и продавать валюту. Тем не менее существуют официальные валютные курсы, которые устанавливаются по итогам торгов на валютном рынке. Официальный курс является индикатором, который может приниматься к cведению. Его использование является обязательными лишь в строго определенных случаях. Например, для использования в расчётах доходов и расходов государственного бюджета, всех видов платёжно-расчётных отношений государства с организациями и гражданами, а также целей налогообложения и бухгалтерского учёта.</p>
    <button onclick="redirectToOtherSite()" style="margin-top: 10px; margin-right: -100px; margin-bottom: 100px; margin-left: -1px;">Запуск курса валют</button>
    <div class="lists"><dl><dt>
        <span>О проекте</span></dt><dd><a href="https://www.youtube.com/watch?v=4dL9EucMkD8">
        <span>О курсах валют</span></a></dd><dd><a href="/exchange_rate">
        <span>Что такое курс валют?</span>
<body>
</body>